# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# compiled outputs
*/build
*/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# misc
npm-debug.log
yarn-error.log
*.pem

# sqlite databases

*.

# testing http requests

httpTests/*